html {
   box-sizing: border-box;
}

*, *::before, *::after {
   box-sizing: inherit;
}

body {
   font-family: 'Nunito', sans-serif;
   color: #fff;
   line-height: 1.5;
   margin: 0;
}
.wrapper {
   max-width: 1200px;
   margin: 0 auto;
}

/* headings - come back to next class */

.header {
   background-color: black;
}

#company-name {
   color: #DEC9E9;
   font-size: 1.5rem;
}

nav ul {
   list-style: none;
}

nav ul li a:link,
nav ul li a:visited {
   color: #DEC9E9;
   text-decoration: none;
}

nav ul li a:hover,
nav ul li a:focus {
   color: #fff;
}

.title {
   height: 60vh;
   background-color: #7251b5;
   background-image: url(../images/ice-cream-cones.jpg);
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center center;
  }

.welcome {
   background-color: #6647A6;
}

.top-5-fan-favourites {
   background-color: black;
}

.meet-our-team {
   background-color: #6647A6;
   text-align: center;
}

.meet-our-team img{
   filter: grayscale();
   width: 100px;
   border-radius: 50%;
}